@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,800,900);
$head-font: 'Raleway', sans-serif;
$body-font: 'Lato', sans-serif;

body {
  font-family: $body-font;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $head-font;
}

.section-header {
  margin: 0;
  padding: 65px 0 50px;

  font-size: 300%;
  font-weight: 900;

  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px #ccc;

  .line {
    width: 100px;
    height: 10px;

    margin: 10px auto;

    background: #C7F464;
  }
}

.section-divider {
  margin: 50px auto 0;
  width: 50%;
}

a.cta {
  display: inline-block;
  position: relative;
  margin-top: 20px;
  padding: 10px 20px;

  border: 1px white solid;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.6);

  font-family: $head-font;
  font-size: 180%;
  font-weight: 600;
  color: #333333;

  text-decoration: none;
  text-shadow: 1px 1px #ccc;

  box-shadow: 1px 0px #bbbbbb, 0px 1px #eeeeee,
              2px 1px #bbbbbb, 1px 2px #eeeeee,
              3px 2px #bbbbbb, 2px 3px #eeeeee,
              4px 3px #bbbbbb, 3px 4px #eeeeee,
              5px 4px #bbbbbb, 4px 5px #eeeeee,
              6px 5px #bbbbbb, 5px 6px #eeeeee;

  &:focus, &:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;

    box-shadow: 1px 0px #bbbbbb, 0px 1px #eeeeee,
                2px 1px #bbbbbb, 1px 2px #eeeeee,
                3px 2px #bbbbbb, 2px 3px #eeeeee,
                4px 3px #bbbbbb, 3px 4px #eeeeee;

    transform: translate(2px, 2px);
  }
}
