@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,800,900);
$head-font: 'Raleway', sans-serif;
$body-font: 'Lato', sans-serif;

body {
  font-family: $body-font;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $head-font;
}
