.navbar {
  display: none;
}

@media (min-width: $screen-sm-min) {
  .navbar {
    display: block;

    transition: all 0.5s ease-in-out;

    a {
      color: white;

      transition: all 0.5s ease-in-out;
    }

    a:hover {
      color: #333333;
      background-color: white !important;
    }
  }

  .navbar.fixed {
    background-color: white;
    border-bottom: 1px solid #333333;

    a {
      color: #333333;
    }

    a:hover {
      color: white;
      background-color: red !important;
    }
  }
}

.splash {
  padding: 150px 0;

  background-image: asset-url('splash.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  font-family: $head-font;
  color: white;

  .splash--title {
    img {
      width: 200px;
      margin: 0 10%;
    }

    font-size: 200%;
    font-weight: 900;

    text-transform: uppercase;
  }

  .splash--blurb {
    font-size: 120%;
    font-weight: 400;

    text-align: center;
  }

  .splash--cta {
    text-align: center;

    a {
      display: inline-block;
      position: relative;
      margin-top: 20px;
      padding: 10px 20px;

      border: 1px white solid;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.6);

      font-size: 180%;
      font-weight: 600;
      color: #333333;

      text-decoration: none;

      box-shadow: 1px 0px #bbbbbb, 0px 1px #eeeeee,
                  2px 1px #bbbbbb, 1px 2px #eeeeee,
                  3px 2px #bbbbbb, 2px 3px #eeeeee,
                  4px 3px #bbbbbb, 3px 4px #eeeeee,
                  5px 4px #bbbbbb, 4px 5px #eeeeee,
                  6px 5px #bbbbbb, 5px 6px #eeeeee;

      &:focus, &:hover {
        background-color: rgba(255, 255, 255, 0.8);
        color: #333;

        box-shadow: 1px 0px #bbbbbb, 0px 1px #eeeeee,
                    2px 1px #bbbbbb, 1px 2px #eeeeee,
                    3px 2px #bbbbbb, 2px 3px #eeeeee,
                    4px 3px #bbbbbb, 3px 4px #eeeeee;

        transform: translate(2px, 2px);
      }

    }
  }
}

@media (min-width: $screen-sm-min) {
  .splash {
    .splash--title {
      font-size: 550%;
    }

    .splash--blurb {
      font-size: 180%;

      text-align: right;
    }

    .splash--cta {
      text-align: left;
    }
  }
}
